<button type="button" data-toggle="collapse" data-target="#configuration" aria-expanded="false"
  aria-controls="configuration" class="btn btn-outline-info btn-block">
  Configuration
</button>

<div id="configuration" class="collapse">
  <div class="card card-body">
    <form>
      <fieldset>
        <div class="form-group row">
          <label for="mode" class="col-4 col-form-label">
            Mode:
          </label>

          <div class="col-6">
            <span *ngIf="configuration.Mode === undefined" class="form-control-plaintext">
              <div class="spinner-border spinner-border-sm" role="status">
                <span class="sr-only">
                  Loading...
                </span>
              </div>
            </span>

            <span *ngIf="configuration.Mode === 0" class="form-control-plaintext">
              <i class="fas fa-walking"></i>
              &nbsp;
              <i class="fab fa-bluetooth"></i>
            </span>

            <span *ngIf="configuration.Mode === 1" class="form-control-plaintext">
              <i class="fas fa-walking"></i>
            </span>

            <span *ngIf="configuration.Mode === 2" class="form-control-plaintext">
              <i class="fab fa-bluetooth"></i>
            </span>
          </div>

          <div class="col-12">
            <select id="mode" class="form-control">
              <option value="0">
                Sensor + BLE
              </option>
              <option value="1">
                Sensor only
              </option>
              <option value="2">
                BLE only
              </option>
            </select>
          </div>
        </div>

        <div class="form-group row">
          <label for="explodeDurationInMs" class="col-4 col-form-label">
            Explode duration:
          </label>

          <div class="col-6">
            <span *ngIf="configuration.ExplodeDurationInMs === undefined">
              <div class="spinner-border spinner-border-sm" role="status">
                <span class="sr-only">
                  Loading...
                </span>
              </div>
            </span>

            <span *ngIf="configuration.ExplodeDurationInMs !== undefined" class="form-control-plaintext">
              {{ configuration.ExplodeDurationInMs }}
              milliseconds
            </span>
          </div>

          <div *ngIf="configuration.ExplodeDurationInMs !== undefined" class="col-12">
            <input id="explodeDurationInMs" type="range" min="1" max="60000" [value]="configuration.ExplodeDurationInMs"
              class="custom-range">
          </div>
        </div>

        <div class="form-group row">
          <label for="isExploded" class="col-4 col-form-label">
            Is exploded:
          </label>

          <div class="col-6">
            <span *ngIf="configuration.IsExploded === undefined">
              <div class="spinner-border spinner-border-sm" role="status">
                <span class="sr-only">
                  Loading...
                </span>
              </div>
            </span>

            <span *ngIf="configuration.IsExploded !== undefined" class="form-control-plaintext">
              {{ configuration.IsExploded }}
            </span>
          </div>
        </div>

        <div class="form-group row">
          <label for="version" class="col-4 col-form-label">
            Version:
          </label>

          <div class="col-6">
            <span *ngIf="configuration.Version === undefined">
              <div class="spinner-border spinner-border-sm" role="status">
                <span class="sr-only">
                  Loading...
                </span>
              </div>
            </span>

            <span *ngIf="configuration.Version !== undefined" id="version" class="form-control-plaintext">
              {{ configuration.Version }}
            </span>
          </div>
        </div>

        <div class="form-group row">
          <label for="runtimeInSec" class="col-4 col-form-label">
            Runtime:
          </label>

          <div class="col-6">
            <span *ngIf="configuration.RuntimeInSec === undefined">
              <div class="spinner-border spinner-border-sm" role="status">
                <span class="sr-only">
                  Loading...
                </span>
              </div>
            </span>

            <span *ngIf="configuration.RuntimeInSec !== undefined" id="runtimeInSec" class="form-control-plaintext">
              {{ configuration.RuntimeInSec }}
              seconds
            </span>
          </div>
        </div>

        <button type="submit" class="btn btn-primary btn-block">
          Save
        </button>
      </fieldset>
    </form>
  </div>
</div>