<button type="button" data-toggle="collapse" data-target="#configuration" aria-expanded="false"
  aria-controls="configuration" class="btn btn-outline-info btn-block">
  Configuration
</button>

<div id="configuration" class="collapse">
  <div class="card card-body">
    <form [formGroup]="configurationForm" (ngSubmit)="onConfigurationFormSubmit()">
      <fieldset>
        <legend>
          Configuration
        </legend>

        <div class="form-group row">
          <label for="mode" class="col-4 col-form-label">
            Mode:
          </label>

          <div class="col-6">
            <span *ngIf="mode.value === undefined" class="form-control-plaintext">
              <div class="spinner-border spinner-border-sm" role="status">
                <span class="sr-only">
                  Loading...
                </span>
              </div>
            </span>

            <span *ngIf="mode.value == modeOptions[0].value" class="form-control-plaintext">
              <em class="fas fa-walking"></em>
              &nbsp;
              <em class="fab fa-bluetooth"></em>
            </span>

            <span *ngIf="mode.value == modeOptions[1].value" class="form-control-plaintext">
              <em class="fas fa-walking"></em>
            </span>

            <span *ngIf="mode.value == modeOptions[2].value" class="form-control-plaintext">
              <em class="fab fa-bluetooth"></em>
            </span>
          </div>

          <div class="col-12">
            <select id="mode" required formControlName="mode" class="form-control">
              <option *ngFor="let modeOption of modeOptions" [value]="modeOption.value">
                {{ modeOption.text }}
              </option>
            </select>
          </div>
        </div>

        <div class="form-group row">
          <label for="explodeDurationInMs" class="col-4 col-form-label">
            Explode duration:
          </label>

          <div class="col-6">
            <span *ngIf="explodeDurationInMs === undefined">
              <div class="spinner-border spinner-border-sm" role="status">
                <span class="sr-only">
                  Loading...
                </span>
              </div>
            </span>

            <span *ngIf="explodeDurationInMs.value !== undefined" class="form-control-plaintext">
              {{ explodeDurationInMs.value }}
              milliseconds
            </span>
          </div>

          <div *ngIf="explodeDurationInMs.value !== undefined" class="col-12">
            <input id="explodeDurationInMs" type="range" required min="1" max="60000"
              formControlName="explodeDurationInMs" class="custom-range">
          </div>
        </div>

        <div class="form-group row">
          <label for="isExploded" class="col-4 col-form-label">
            Is exploded:
          </label>

          <div class="col-6">
            <span *ngIf="isExploded.value === undefined">
              <div class="spinner-border spinner-border-sm" role="status">
                <span class="sr-only">
                  Loading...
                </span>
              </div>
            </span>

            <span *ngIf="isExploded.value !== undefined" class="form-control-plaintext">
              {{ isExploded.value }}
            </span>
          </div>
        </div>

        <div class="form-group row">
          <label for="version" class="col-4 col-form-label">
            Version:
          </label>

          <div class="col-6">
            <span *ngIf="version.value === undefined">
              <div class="spinner-border spinner-border-sm" role="status">
                <span class="sr-only">
                  Loading...
                </span>
              </div>
            </span>

            <span *ngIf="version.value !== undefined" id="version" class="form-control-plaintext">
              {{ version.value }}
            </span>
          </div>
        </div>

        <div class="form-group row">
          <label for="runtimeInSec" class="col-4 col-form-label">
            Runtime:
          </label>

          <div class="col-6">
            <span *ngIf="runtimeInSec.value === undefined">
              <div class="spinner-border spinner-border-sm" role="status">
                <span class="sr-only">
                  Loading...
                </span>
              </div>
            </span>

            <div *ngIf="runtimeInSec.value !== undefined" id="runtimeInSec" class="form-control-plaintext">
              <span *ngIf="runtimeInSec.value < 60">
                {{ runtimeInSecRoundedToMinute }} s
              </span>

              <span *ngIf="runtimeInSec.value >= 60">
                {{ runtimeInMinRoundedToHour }} m
                :
                {{ runtimeInSecRoundedToMinute }} s
              </span>

              <span *ngIf="runtimeInSec.value >= 3600">
                {{ runtimeInHoursRounded }} h
                :
                {{ runtimeInMinRoundedToHour }} m
                :
                {{ runtimeInSecRoundedToMinute }} s
              </span>
            </div>
          </div>
        </div>

        <button type="submit" class="btn btn-primary btn-block"
          [disabled]="!configurationForm.valid || configurationForm.pristine">
          Save
        </button>
      </fieldset>
    </form>
  </div>
</div>