<div class="row">
  <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-8">
    <button [disabled]="isInitiateButtonLocked || configuration.isExploded" (click)="onInitiateExplosionClick()"
      class="btn btn-lg btn-outline-danger btn-block">
      <span i18n *ngIf="!configuration.isExploded">
        Initiate explosion
      </span>
      <span i18n *ngIf="configuration.isExploded">
        Explosion already initiated
      </span>
    </button>
  </div>

  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-4">
    <button (click)="onLockUnlockButtonClick()" class="btn btn-lg btn-outline-warning btn-block"
      [disabled]="configuration.isExploded">
      <em *ngIf="isInitiateButtonLocked" class="fas fa-lock"></em>
      <em *ngIf="!isInitiateButtonLocked" class="fas fa-unlock"></em>
    </button>
  </div>
</div>