<div *ngIf="!isBluetoothDeviceConnected" class="row">
  <div class="col-12 text-center">
    <h1>
      <em class="fas fa-skull-crossbones"></em>
      <br> <br>

      <span i18n>
        NO CONNECTION
      </span>
    </h1>
  </div>
</div>

<div *ngIf="isBluetoothDeviceConnected" class="row">
  <div class="col-12 text-center">
    <h1 *ngIf="batteryLevel === undefined" class="text-primary">
      <div class="spinner-border" role="status">
        <span i18n class="sr-only">
          Loading...
        </span>
      </div>
    </h1>

    <h1 *ngIf="batteryLevel >= 50" class="text-success">
      {{ batteryLevel }} %
      <em class="fas fa-battery-full"></em>
    </h1>

    <h1 *ngIf="batteryLevel >= 15 && batteryLevel < 50" class="text-warning">
      {{ batteryLevel }} %
      <em class="fas fa-battery-half"></em>
    </h1>

    <h1 *ngIf="batteryLevel < 15" class="text-danger">
      {{ batteryLevel }} %
      <em class="fas fa-battery-quarter"></em>
    </h1>
  </div>

  <div class="col-6 text-center">
    <h1 *ngIf="configuration === undefined || configuration.mode === undefined" class="text-primary">
      <div class="spinner-border" role="status">
        <span i18n class="sr-only">
          Loading...
        </span>
      </div>
    </h1>

    <h1 *ngIf="configuration !== undefined && configuration.mode === 0" class="text-info">
      <em class="fas fa-walking"></em>
      &nbsp;
      <em class="fab fa-bluetooth"></em>
    </h1>

    <h1 *ngIf="configuration !== undefined && configuration.mode === 1" class="text-info">
      <em class="fas fa-walking"></em>
    </h1>

    <h1 *ngIf="configuration !== undefined && configuration.mode === 2" class="text-info">
      <em class="fab fa-bluetooth"></em>
    </h1>
  </div>

  <div class="col-6 text-center">
    <h1 *ngIf="configuration === undefined || configuration.isExploded === undefined" class="text-primary">
      <div class="spinner-border" role="status">
        <span i18n class="sr-only">
          Loading...
        </span>
      </div>
    </h1>

    <h1 *ngIf="configuration !== undefined && configuration.isExploded === false" class="text-success">
      <em class="fas fa-bomb"></em>
    </h1>

    <h1 *ngIf="configuration !== undefined && configuration.isExploded === true" class="text-danger">
      <em class="fas fa-user-injured"></em>
    </h1>
  </div>
</div>