<footer role="banner" class="fixed-bottom footer navbar-dark bg-dark">
  <div class="container">
    <div class="row text-muted">
      <div class="col-xl-6 col-lg-6 col-12 text-left">
        <em class="far fa-copyright"></em>
        2020
        |
        Airsoft Smart Mine Management Tool
        {{ version }}
      </div>

      <div class="col-xl-6 col-lg-6 col-12 text-right">
        <span i18n>
          Powered and developed by
        </span>
        <a href="https://ivaxor.com" target="_blank" rel="noreferrer" class="btn btn-sm btn-outline-info">
          <img src="https://ivaxor.com/favicon.ico" alt="Logo">
          IVAXOR
        </a>
      </div>

      <div class="col-4 text-center">
        <a href="/en" target="_self">
          🇺🇸
        </a>
      </div>
      <div class="col-4 text-center">
        <a href="/ru" target="_self">
          🇷🇺
        </a>
      </div>
      <div class="col-4 text-center">
        <a href="/ua" target="_self">
          🇺🇦
        </a>
      </div>
    </div>
  </div>
</footer>