<footer role="banner" class="footer navbar-dark bg-dark">
  <div class="container">
    <div class="row text-muted">
      <div class="col-6 text-left">
        <i class="far fa-copyright"></i>
        2020
        |
        Airsoft Smart Mine Management Tool
      </div>
      <div class="col-6 text-right">
        Powered and developed by
        <a href="https://ivaxor.com" target="_blank" class="btn btn-sm btn-outline-info">
          <img src="https://ivaxor.com/favicon.ico">
          IVAXOR          
        </a>
      </div>
    </div>
  </div>
</footer>